        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');
         :root {
            --default-bg: #17202A;
            --light-dark: #283340;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            width: 100%;
            background-color: var(--default-bg);
            font-family: 'Rubik', sans-serif;
        }
        
        .main-page-flex {
            display: flex;
            flex-flow: row wrap;
            /* gap: 10rem; */
        }
        
        .side-panel {
            position: sticky;
            top: 0px;
            /* border: 1px solid red; */
            width: 18%;
            height: 100vh;
            padding-left: 150px;
            margin-top: 0;
            border-right: 1px solid darkslategrey;
        }
        
        .side-panel ul {
            /* border: 1px solid red; */
            padding: 0.5rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            /* gap: 1 rem; */
            margin: 0;
            /* align-items: center; */
            height: 725px;
        }
        
        .side-panel li {
            color: #fff;
            list-style-type: none;
            border-radius: 2rem;
            /* border: 1px solid yellow; */
            font-weight: 300;
            font-size: large;
            margin: 0.3rem;
        }
        
        .side-panel li a {
            color: #fff;
            text-decoration: none;
            display: flex;
            padding: 0.7rem;
            align-items: center;
            gap: 1rem;
            border-radius: 2rem;
        }
        
        .sizing1 {
            width: 23%;
        }
        
        .sizing2 {
            width: 45%;
        }
        
        .sizing3 {
            width: 50%;
        }
        
        .sizing4 {
            width: 65%;
        }
        
        .sizing5 {
            width: 58%;
        }
        
        .sizing6 {
            width: 60%;
        }
        
        .sizing7 {
            width: 42%;
        }
        
        .sizing8 {
            width: 48%;
        }
        
        .sizing9 {
            width: 45%;
        }
        
        .sizing10 {
            width: 100%;
        }
        
        .sizing10:hover {
            background-color: #2D3741;
        }
        
        .side-panel li a:hover {
            background-color: #2D3741;
            transition: 0.3s;
        }
        
        .side-panel .tweet-button {
            width: 90%;
            padding: 1rem;
            background-color: #1DA1F2;
            text-align: center;
            border-radius: 2rem;
            outline: 0;
            border: 0;
            color: #fff;
            font-weight: bolder;
            font-size: 1em;
            cursor: pointer;
            font-weight: bold;
        }
        
        .side-panel .tweet-button:hover {
            background-color: #4C73FC;
        }
        
        .side-panel ul .profile-view {
            display: grid;
            grid-template-columns: 20% 60% 10%;
            grid-template-rows: 50% 50%;
            color: #fff;
            font-size: 0.8em;
            cursor: pointer;
            column-gap: 0.5rem;
            padding: 0.7rem;
        }
        
        .grid1 {
            margin: 0;
            grid-column: 1/2;
            grid-row: 1/3;
        }
        
        .grid2 {
            margin: 0;
            grid-column: 2/3;
            grid-row: 1/2;
            align-self: end;
            font-weight: 500;
        }
        
        .grid3 {
            margin: 0;
            grid-column: 2/3;
            grid-row: 2/3;
            color: gray;
            align-self: start;
        }
        
        .grid4 {
            margin: 0;
            grid-column: 3/4;
            grid-row: 1/3;
            align-self: center;
        }
        
        .profile-view img {
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
        /* feed panel stlying----------------------------------- */
        
        .feed-panel {
            border-right: 1px solid darkslategray;
            width: 40%;
            display: flex;
            flex-flow: column wrap;
        }
        
        .feed-panel .navigation {
            /* border-bottom: 1px solid yellow; */
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            cursor: pointer;
            height: 55px;
            background: rgba( 30, 5, 5, 0.05);
            /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37); */
            backdrop-filter: blur( 20px);
            -webkit-backdrop-filter: blur( 20px);
        }
        
        .feed-panel .navigation div,
        .feed-panel .navigation div a {
            text-decoration: none;
            color: white;
            font-size: 1.1em;
            /* font-weight: 00; */
            align-self: center;
            margin-left: 0.5rem;
            /* margin: 1rem; */
        }
        
        .feed-panel .navigation div:nth-child(2) {
            /* border: 1px solid white; */
            margin-right: 1rem;
        }
        
        .feed-panel .pro-search {
            display: grid;
            grid-template-columns: 13% 87%;
            grid-template-rows: 5rem 3.1rem;
            border-bottom: 1px solid darkslategrey;
        }
        
        .feed-panel .pro-search .grid-1 {
            grid-column: 1/2;
            grid-row: 1/2;
            padding: 0.9rem;
            /* border: 1px solid red; */
            align-items: center;
        }
        
        .feed-panel .pro-search .grid-1 img {
            width: 90%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
        
        .feed-panel .pro-search .grid-2 {
            /* border: 2px solid red; */
            grid-column: 2/3;
            grid-row: 1/2;
        }
        
        .feed-panel .pro-search .grid-2 input {
            width: 100%;
            height: 100%;
            font-size: 1.3em;
            background-color: transparent;
            outline: none;
            border: none;
            caret-color: azure;
            color: white;
        }
        
        .feed-panel .pro-search .grid-3 {
            grid-column: 2/3;
            grid-row: 2/3;
            /* border: 1px solid yellow; */
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            height: 3rem;
        }
        
        .feed-panel .pro-search .grid-3 .icons {
            width: 13rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
        }
        
        .feed-panel .pro-search .grid-3 .icons a {
            border-radius: 50%;
            background-color: var(--default-bg);
            width: 30px;
            aspect-ratio: 1/1;
            text-align: center;
            padding: 1;
            object-position: center;
            object-fit: contain;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .feed-panel .pro-search .grid-3 .icons a svg {
            background-color: var(--default-bg);
        }
        
        .feed-panel .pro-search .grid-3 .icons a:hover {
            background-color: #2D3741;
        }
        
        .feed-panel .pro-search .grid-3 .tweet button {
            background-color: #1DA1F2;
            color: white;
            padding: 0.25rem;
            border-radius: 2rem;
            width: 5rem;
            height: 2.3rem;
            outline: none;
            border: none;
            font-weight: 900;
            margin-right: 1rem;
            /* line-height: 1rem; */
            cursor: pointer;
        }
        
        .feed-panel .pro-search .grid-3 .tweet button:hover {
            background-color: #4C73FC;
        }
        
        .feed-panel .feed {
            /* overflow: scroll; */
            display: grid;
            grid-template-columns: 13% 100%;
            grid-template-rows: max-content;
            border-bottom: 1px solid darkslategray;
            padding-bottom: 2rem;
            cursor: pointer;
        }
        
        .feed-panel .feed:hover {
            background-color: #202E3A;
        }
        
        .feed-panel .feed .prof {
            grid-column: 1/2;
            grid-row: 1/2;
            text-align: center;
            /* align-items: center; */
            padding-top: 1rem;
        }
        
        .feed-panel .feed .prof img {
            width: 60%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .feed-panel .feed .content {
            grid-column: 2/3;
            grid-row: 1/2;
            width: 80%;
            padding-top: 1rem;
        }
        
        .feed-panel .feed .content .article {
            border: 1px solid darkslategray;
            border-radius: 1rem;
        }
        
        .feed-panel .feed .content .article img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
        
        .feed-panel .feed .content .article a {
            text-decoration: none;
            color: white;
            /* font-weight: lighter; */
        }
        
        .padding {
            padding: 0.3rem 0.8rem;
        }
        
        .hashtag {
            color: #1DA1F2;
            cursor: pointer;
        }
        
        .hashtag:hover {
            text-decoration: underline;
        }
        
        .news {
            font-weight: lighter;
            font-size: 1em;
            color: white;
            padding: 0.7rem 0;
            word-spacing: .2rem;
            /* cursor: pointer; */
        }
        
        .bold-name {
            color: white;
            font-size: 0.9em;
            cursor: pointer;
        }
        
        .username {
            color: #808080;
            font-weight: lighter;
            cursor: pointer;
        }
        
        .tick {
            width: 4%;
            text-align: center;
        }
        /* trends panel styling */
        
        .trends-panel {
            display: flex;
            flex-flow: column wrap;
            /* border-right: 1px solid red; */
            gap: 1rem;
            align-items: center;
        }
        
        .trends-panel .up-search {
            width: 100%;
            background-color: var(--default-bg);
            position: sticky;
            top: 0;
            height: 55px;
            /* border: 1px solid rebeccapurple; */
        }
        
        .search {
            /* position: sticky; */
            top: 0.5rem;
            background-color: #253341;
            width: 350px;
            height: 45px;
            /* border: 1px solid red; */
            margin: 0.2rem 1rem 1rem 1rem;
            display: grid;
            grid-template-columns: 17% 83%;
            align-items: center;
            border-radius: 5rem;
            font-size: 1em;
            /* gap: 0.5; */
        }
        
        .search svg {
            grid-column: 1/2;
            margin-left: 20px;
        }
        
        .search input {
            grid-column: 2/3;
            border-radius: 5rem;
            outline: none;
            border: none;
            height: 45px;
            width: 100%;
            background-color: #253341;
            font-size: 1em;
            caret-color: aliceblue;
        }
        
        .trends-panel .happening {
            /* border-bottom: 1px solid red; */
            border-radius: 1rem;
            /* padding: 1rem; */
            width: 350px;
            height: 552px;
            background-color: #192734;
            /* color: white; */
            display: flex;
            flex-flow: column wrap;
        }
        
        .trends-panel .happening div {
            padding: 1rem;
            line-height: 1.2rem;
        }
        
        .trends-panel .happening div:first-of-type {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            font-size: 1.4em;
            color: aliceblue;
        }
        
        .trends-panel .happening div:first-of-type:hover {
            background-color: transparent;
        }
        
        .trends-panel .happening div:hover {
            background-color: #2D3741;
        }
        
        .trends-panel .happening div:last-of-type {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        
        .trends-panel .happening div:last-of-type a {
            text-decoration: none;
            color: #1DA1F2;
            font-weight: lighter;
            font-size: 0.9em;
        }
        
        .trends-panel .username {
            font-size: 0.8em;
        }
        
        .trends-panel .trend-2 .username {
            font-size: 1em;
        }
        
        .trends-panel .follow {
            border-radius: 1rem;
            /* border: 1px sloid red; */
            width: 350px;
            background-color: #192734;
            /* padding: 1rem; */
            display: flex;
            flex-flow: column wrap;
        }
        
        .trends-panel .follow div:hover {
            background-color: #2D3741;
        }
        
        .trends-panel .follow div:first-of-type {
            font-size: 1.1em;
            color: white;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            /* padding: 1rem; */
        }
        
        .trends-panel .follow div:first-of-type:hover {
            background-color: transparent;
        }
        
        .trends-panel .follow .person1 {
            display: grid;
            grid-template-columns: 20% 50% 30%;
            grid-template-rows: 50% 50%;
            color: #fff;
            font-size: 0.8em;
            cursor: pointer;
            column-gap: 0.5rem;
            padding: 0.7rem;
        }
        
        .trends-panel .follow div {
            padding: 1rem;
        }
        
        .trends-panel .follow .person1 .gridf1 {
            margin: 0;
            grid-column: 1/2;
            grid-row: 1/3;
        }
        
        .trends-panel .follow .person1 .gridf2 {
            margin: 0;
            grid-column: 2/3;
            grid-row: 1/2;
            align-self: end;
            font-weight: 500;
            font-size: 1.2em;
        }
        
        .trends-panel .follow .person1 .gridf3 {
            margin: 0;
            grid-column: 2/3;
            grid-row: 2/3;
            color: gray;
            align-self: start;
            font-size: 1.2em;
            font-weight: lighter;
        }
        
        .trends-panel .follow .person1 .gridf4 {
            margin: 0;
            grid-column: 3/4;
            grid-row: 1/3;
            /* align-self: center; */
            /* border: 1px solid blue; */
            border-radius: 5rem;
            height: 2rem;
            /* padding: 0; */
            width: 5rem;
            font-weight: 700;
            margin-top: 5px;
            cursor: pointer;
            border: none;
        }
        
        .trends-panel .follow .person1 img {
            width: 80%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
        
        .trends-panel .follow div:last-of-type {
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
        
        .trends-panel .follow div:last-of-type a {
            text-decoration: none;
            color: #1DA1F2;
            font-weight: lighter;
            font-size: 0.9em;
        }
        
        .trends-panel .follow .person1 .gridf2 .tick {
            width: 10%;
            align-self: end;
            text-align: center;
        }